{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h3>Level 1</h3>
    </div>
    <div>Goblin's HP: 7</div>
    <div>
        <button>Attack</button>
        <button>Defend</button>
    </div>
    <div>Hero's HP: 10</div>
    <div>Armor: 12</div>
</main>
{% endblock content %}