<!DOCTYPE html>
<html>
    <head>
        <title>Goblin Battle</title>
    </head>
    <body>
        <header>
            <div>Goblin Battle</div>
                <nav>
                    <ul>
                        <li><a href={% url 'home' %}>Home</a></li>
                        <li>Leaderboard</li>
                        <li>Logout</li>
                        <li>Login</li>
                        <li>Signup</li>
                    </ul>
                </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            <div>A Web Application by Connor Swanson (2022)</div>
        </footer>
    </body>
</html>