{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>Goblin Battle</h1>
    </div>
    <div>
        <form action="{% url "rules" %}">
            <input type="submit" value="Rules">
        </form>
        <form action="{% url "hero_create" %}">
            <input type="submit" value="Start">
        </form>
    </div>
</main>
{% endblock content %}