{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>Rules</h1>
    </div>
    <div>
        <p>Here are the rules</p>
    </div>
    <div>
        <form action="{% url "home" %}">
            <input type="submit" value="Back">
        </form>
    </div>
</main>
{% endblock content %}