{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>Choose Your Weapon</h1>
    </div>
    <div>
        <form action="{% url "level1_sword" %}">
            <input type="submit" value="Sword and Shield">
        </form>
        <form action="{% url "level1_bow" %}">
            <input type="submit" value="Longbow">
        </form>
        <form action="{% url "level1_axe" %}">
            <input type="submit" value="Battle Axe">
        </form>
    </div>
    <div>
    </div>
</main>
{% endblock content %}