{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>Name Your Hero</h1>
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
            <button>Continue</button>
            </div>
        </form>
    </div>
    <div>
    </div>
</main>
{% endblock content %}